.about-container {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding-top: 5rem;
  background: #403B4A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-group {
  margin-bottom: 4rem;
  margin-top: 5rem;
  
}

.group-title {
  text-align: center;
  color: #333;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
}

.cards-row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: nowrap;
}

.card {
  flex: 1;
  background :url('https://images.unsplash.com/photo-1651340048650-9bb75627f3de?q=80&w=2027&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  min-width: 0; /* Prevents flex items from overflowing */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.card-title {
  color:#fff;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.card-description {
  color:#fff;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .cards-row {
    flex-direction: column;
    gap: 1rem;
  }
  
  .about-container {
    padding: 1rem;
  }
  
  .group-title {
    font-size: 1.75rem;
  }
  
  .card {
    margin: 0;
  }
}
